<template name="about">
    <div class="col-md-12 col-lg-offset-2 col-lg-8">

        <h3>Om julekalenderen</h3>
        <p>
            Hver dag frem til jul åpner det seg en ny luke i kalenderen. Bak hver av disse lukene skjuler det seg en julenøtt som må løses ved hjelp av programmering.
            Oppgavene er av varierende vanskelighetsgrad, og vi håper med dette å utfordre både deg som er en fersk utvikler og deg som alt har gjort dette i mange år.
            Du står fritt til å velge både fremgangsmåte og teknologi til å løse problemet.
            Felles for hver oppgave er at koden til løsningen din skal resultere i et svar på en linje som applikasjonen kan sjekke om er korrekt.
        </p>

        <p>
            Hver luke du løser teller som et lodd i trekningen av en valgfri smarttelefon. Jo flere luker du løser, desto fler lodd og dermed større vinnersjanser.
        </p>
        <p>
            Nye luker åpnes klokken 06:00 hver dag, og du har 24 timer på deg på å løse oppgaven.
            Etter at denne fristen er passert vil svaret på oppgaven bli synlig for alle, og det er dermed ikke lenger mulig å svare på luken. Om du har lyst kan du jo forsøke å kode deg fram til riktig løsning allikevel.
            Programmering er jo tross alt kjempegøy!
        </p>

        <p>En heldig vinner vil trekkes i romjulen og bli kontaktet via telefon. Husk at hver løste luke øker vinnersjansene dine!</p>



        <h3>Bakgrunn</h3>
        <p>
            Denne julekalenderen du nå ser framfor deg er resultatet av et fagprosjekt som ble startet blant systemutviklerne i Knowit for å lære seg web-rammeverket <a href="http://www.meteor.com" title="Meteor">Meteor</a>.
            De trengte noe å lage og bestemte seg for å lage en <a href="https://projecteuler.net/" title="Project Euler">Project Euler</a>-lignende applikasjon for programmeringskonkurranser.
            Det utviklet seg videre til et konsept vi etter hvert har kalt Programming Ladder, en kveld bestående av å løse flest mulig små programmeringsoppgaver - først kjørt internt på våre egne fagsamlinger, deretter for studenter på skoler vi har besøkt.

            På grunn av stor populæritet både blant våre egne ansatte og studenter kom vi fram til at vi ville tilby den til flere, og vi har derfor bygget videre på dette og gjort det om til en julekalender.
        </p>

        <p>Kildekoden for applikasjonen ligger fritt tilgjengelig på <a href="http://github.com/alexanbj/programming-ladder" class="github" title="GitHub">GitHub</a>.</p>



        <h3>Om Knowit</h3>
        <p>
            Knowit består av 1800 spesialister som jobber i skjæringspunktet mellom strategi, kreativitet og teknologi.
            Kulturen vår preges av åpenhet, entreprenørskap, høy kompetanse og en vilje til stadig å utvikles.
            Sammen med kundene våre var vi for eksempel svært tidlig ute med å lage arkitekturer basert på mikrotjenester.
            Vi var med på å sette et av de første Scala-systemene i Norge i produksjon og vi har både designet og utviklet RuterBillett-appen for kollektivtransport i Oslo.
            Nylig har vi utviklet BankID 2.0, så du kan logge inn i nettbanken din uten å oppgradere Java hver gang.
            <br>
            Stadig flere av løsningene våre baseres på godt etablerte DevOps-prinsipper.
        </p>
        <p>
            Felles for våre spesialister er evnen til å skape nye løsninger gjennom å forstå kundens forretningsstrategi og kombinere denne med kreativt tankesett og det siste innen teknologi.
            Vi utvikler våre kunders virksomhet gjennom nære lokale relasjoner og har kontorer i Oslo, Bergen, Stavanger og Kristiansand.
        </p>



        <h3>Jobbe i Knowit?</h3>
        <p>
            Ønsker du å vite mer om Knowit eller det å jobbe i Knowit? Ta gjerne kontakt for en uformell prat med vår rekrutteringsansvarlig, Atle Rovik, på <a href="mailto:atle.rovik@knowit.no">atle.rovik@knowit.no</a>.
        </p>
        <p>
            Du kan lese mer, se videoer om oss eller søke jobb på <a href="http://www.knowit.no/karriere" title="Knowit karriere">knowit.no/karriere</a>.
        </p>

    </div>
</template>
