<template name="home">
    <div class="jumbotron text-center">
        <div class="container">
            <img src="/assets/Knowit_nisselue_2x.png" alt="Knowit logo" class="knowitNisselue">
            <h1>Knowits Julekalender</h1>

            <p>For en litt mer geeky adventstid.</p>
            <p>
                Hver kalenderluke skjuler en julenøtt i form av en programmeringsoppgave.
                <br>
                Velg teknologi selv og sett kodefingrene i sving.
                <br>
                Ny oppgave hver dag!
            </p>

            <p>En verdig vinner vil få en valgfri smarttelefon som romjulspresang.</p>
            <p>God jul og lykke til! Hilsen Knowit-nissen.</p>
            {{#if currentUser}}
                <p><a class="btn btn-primary btn-lg" href="{{pathFor 'problems'}}" role="button">Ta meg til lukene!</a></p>
            {{else}}
                <p><a class="btn btn-primary btn-lg" href="{{pathFor 'atSignUp'}}" role="button">Bli med!</a></p>
            {{/if}}
        </div>
    </div>
</template>
