<template name="home">
    <div class="home col-md-12">
        <!--<img src="/knowit_logo_green_rgb.png" alt="Knowit">-->

        <div class="medals-container row">
            {{#each users}}
            <div class="col-xs-4 medal">
                <figure>
                    {{username}}
                </figure>
            </div>
            {{/each}}
        </div>

        <h4 class="lead text-center quote"><em>"D bli itj nå likar einn herre"</em>
            <small>&mdash; Ukjent Knowiter</small>
        </h4>
    </div>
</template>
