<template name="home">
    <div class="home">
        <!--<img src="/knowit_logo_green_rgb.png" alt="Knowit">-->

        <div class="podium-container">
            {{#each users}}
            <figure class="podium">
                <div class="background">
                    <h2>{{username}}</h2>
                </div>
            </figure>
            {{/each}}
        </div>


        <h4 class="lead text-center quote"><em>"D bli itj nå likar einn herre"</em>
            <small>&mdash; Ukjent Knowiter</small>
        </h4>
    </div>
</template>
