<template name="rules">
	<div class="page-header">
		<h1>Rules</h1>
	</div>
	The contestants are challenged with problems that will in most cases require programming to solve.
	They are free to select any platform or language that they see fit to solve the problems at hand.
	Depending on how well they solve the problem, they'll gain
	a set amount of points which are recorded on the ladder.
	The contestants will battle with each other for the glory and fame of being on or near the top of the ladder.

	<h3>Ruling</h3>
	When an answer is submitted, it will be sanitized before compared against the correct answer. Please take note of the problem's description
	for any special format your answer should adhere to to make sure so the system is able to determine the correctness of your answer.

	<h3>Cheating</h3>
	<p>While it is not against the rules to cooperate in solving the problems, contestants should submit their solutions individually.</p>

	<h3>Scoring</h3>
	<p>
	Upon submitting an answer to a problem, the contestant's answer will be compared against the correct answer on the server.
	If a correct solution is submitted, the contestant will be rewarded 10 points. If the answer is not correct one the solution will be rejected.
	</p>

	<p>
	A contestant may choose to resubmit corrected solutions, but will be deducted 1 point per failed try.
	</p>

	<p><em>
	<strong>For example:</strong> Ola submits an answer to a problem. He has previously submitted two incorrect answers.
	Ola's new submission is correct, so he will be rewared <strong>8 points</strong> (<strong>10 points</strong> for a correct soltuion <strong>- 2 points</strong> because of the 2 failed tries).
	</em></p>

	<p>
		The minimum amount of points rewarded is 2. If your score deduction would lead you to receive less than 2 points, it will be adjusted up to 2 points.
	</p>
</template>
