<template name="loading">
    <div class="row center-align">
        <div class="col s12">
            <div class="section">
                {{> spinner}}
            </div>
        </div>
    </div>
</template>

<template name="spinner">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>
</template>
