<template name="comment_item">
    <div id="{{_id}}">
        {{#if isAdmin}}
            <button class="delete right btn-flat red-text" title="Delete"><i class="mdi-action-delete"></i></button>
        {{else}}
            {{#if is_own_comment}}
                <button class="delete right btn-flat red-text" title="Delete"><i class="mdi-action-delete"></i></button>
                {{!--<button class="edit right btn-flat"><i class="mdi-editor-mode-edit"></i> Rediger</button>--}}
            {{/if}}
        {{/if}}
        <div class="card-panel">
            <div>
                <em>{{author}}</em> said
            </div>
            <div>
                <small>{{formatDate postedAt 'DD.MM.YYYY HH:mm'}}</small>
            </div>
            <div class="comment-text markdown">
                {{{htmlBody}}}
            </div>
        </div>
    </div>
</template>