<template name="comment_form">
    <div class="comment-new">
        <form role="form" class="comment-form">
            <div class="form-group">
                <textarea id="comment" class="form-control" rows="8" autofocus="autofocus" placeholder="Skriv en kommentar..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary" title="(⌘+enter)">Legg til kommentar</button>
            {{!--<button id="preview" type="button" class="btn btn-primary pull-right">Forhåndsvisning</button>--}}
            <a class="pull-right" href="https://help.github.com/articles/github-flavored-markdown/">GitHub Flavored Markdown</a>
        </form>
    </div>
</template>
