<template name="comment_form">
    <div class="comment-new">
        <form class="comment-form">
            <div class="input-field">
                <textarea id="comment" class="materialize-textarea" rows="8" autofocus="autofocus" placeholder="Leave a comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" title="(⌘+enter)">Comment</button>
            {{!--<button id="preview" type="button" class="btn btn-primary pull-right">Preview</button>--}}
            <a class="pull-right" href="https://help.github.com/articles/github-flavored-markdown/">GitHub Flavored Markdown</a>
        </form>
    </div>
</template>
