<template name="editProblem">
    <div class="row">
        <div class="col s12 m9 l10">
            <div class="section">
                {{# autoForm collection="Problems" id="problemForm" type=autoFormType doc=problem}}
                    {{> afFormGroup name='title'}}
                    {{> afFormGroup name='description' rows=8}} {{!-- Adding the rows property turns it into a textarea --}}
                    {{> afFormGroup name='maxScore'}}
                    {{> afFormGroup name='minScore'}}
                    {{> afFormGroup name='solution'}}
                    <button type="submit" class="btn">Save</button>
                {{/autoForm}}
            </div>
            <div class="section">
                <button class="btn-flat right preview"><i class="mdi-navigation-refresh"></i></button>
                <div class="card-panel">
                    {{{preview}}}
                </div>
            </div>
        </div>
    </div>
</template>
