<template name="editProblem">
    <div class="col-md-12 col-lg-offset-1 col-lg-10">
        {{# autoForm collection="Problems" id="problemForm" type=autoFormType doc=problem template="bootstrap3-horizontal" label-class="control-label" input-col-class="controls"}}
            {{> afFormGroup name='title'}}
            {{> afFormGroup name='description' rows=6}} {{!-- Adding the rows property turns it into a textarea --}}
            {{> afFormGroup name='maxScore'}}
            {{> afFormGroup name='minScore'}}
            {{> afFormGroup name='draft'}}
            {{> afFormGroup name='activeFrom' type='datetime-local'}}
            {{> afFormGroup name='activeTo' type='datetime-local'}}
            {{> afFormGroup name='solution'}}
            <button type="submit" class="btn btn-default">Save</button>
        {{/autoForm}}
    </div>
</template>
