<template name="settings">
    <div class="row">
        <div class="col s12 m9 l10">
            <div class="section">
                <h4><i class="mdi-action-settings"></i> Programming Ladder Settings</h4>
                {{#if this.hasSettings}}
                    {{> quickForm collection="Settings" id="updateSettingsForm" type="update" doc=this.settings}}
                {{else}}
                    {{> quickForm collection="Settings" id="updateSettingsForm" type="insert"}}
                {{/if}}
                <button id="clear-activity-stream" class="btn"><i class="mdi-action-delete"></i> Clear ActivityStream</button>
            </div>
        </div>
    </div>
</template>
