<template name="adminUsers">
    <div class="row">
        <div class="col s12 m9 l10">
            <div class="section">
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Solved</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each users}}
                        <tr>
                            <td>{{username}}</td>
                            <td>{{solved}}/24</td>
                            <td>
                                {{#if isAdmin}}
                                    <button class="admin-toggle btn btn-floating waves-effect waves-light" title="Remove as administrator"><i class="mdi-action-verified-user"></i> Admin</button>
                                {{else}}
                                    <button class="admin-toggle btn btn-floating waves-effect waves-light grey" title="Make an administrator"><i class="mdi-action-verified-user"></i> Admin</button>
                                {{/if}}
                                <button class="delete btn btn-floating waves-effect waves-light red" title="Delete"><i class="mdi-action-delete"></i> Delete</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
