<template name="showProblem">
	<div class="col-md-4">
		{{>sidebar}}
	</div>

	<section class="col-md-8 problem">
		{{#with problem}}
			<div class="page-header">
				{{#if currentUser}}
					{{#if isAdmin}}
					<div class="edit-problem-buttons pull-right">
						<button class="btn btn-primary"><i class="icon-edit"></i> Edit</button>
						<button class="delete-link btn btn-danger"><i class="icon-trash"></i> Delete</button>
					</div>
					{{/if}}
					{{#if answers.[0]}}
						{{#if answers.[0].solved}}
							<h1>{{title}} <span class="label label-success">{{answers.[0].score}}/{{maxScore}}</span></h1>
						{{else}}
							<h1>{{title}} <span class="label label-warning">{{answers.[0].score}}/{{maxScore}}</span></h1>
						{{/if}}
					{{else}}
						<h1>{{title}} <span class="label label-warning">{{maxScore}}/{{maxScore}}</span></h1>
					{{/if}}
				{{else}}
					<h1>{{title}}</h1>
				{{/if}}
			</div>
			<div class="well">
				{{{description}}}
			</div>
			{{#if currentUser}}
				{{#if answers.[0].solved}}
					<div id="success-message" class="alert alert-dismissable alert-success">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Well done!</strong> Your answer was correct. You recieved {{answers.[0].score}} points!
					</div>
					<a href="#" id="revealAnswer" class="btn btn-default" rel="popover">Reveal answer</a>
				{{else}}
					{{#with wrongAnswer}}	
						<div id="fail-message" class="alert alert-dismissable alert-danger">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Oh snap!</strong> Your answer was wrong. Change a few things up and try submitting again.
						</div>
					{{/with}}
					<form class="form-inline" role="form">
						<div class="form-group">
							<label class="sr-only" for="answer">Answer</label>
							<input type="text" class="form-control" id="answer" placeholder="Answer" required>
						</div>
						<button type="submit" class="btn btn-default">Check</button>
					</form>
				{{/if}}
			{{/if}}
		{{/with}}
	</section>
</template>

<template name="newProblem">
	<form role="form">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" id="title" placeholder="Title" required>
		</div>

		<div class="form-group">
			<label for="editor">Description</label>
			<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
				<div class="btn-group">
					<a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
					<a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
					<a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
				</div>
				<div class="btn-group">
					<a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
					<a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
				</div>
			</div>
			<div class="form-control editor" id="description-editor" required></div>
			<textarea class="form-control hidden" id="description" name="description" placeholder="Description" class="hidden"></textarea>
		</div>
		<div class="form-group">
			<label for="max-score">Max score</label>
			<input type="number" class="form-control" id="max-score" placeholder="Max score" min=1 value=10 required>
			<span class="help-block">Remember the <a href="{{pathFor 'rules'}}">rules</a>! This should be 10, but you are allowed to change this as you see fit.</span>
		</div>
		<div class="form-group">
			<label for="min-score">Minimum score</label>
			<input type="number" class="form-control" id="min-score" placeholder="Min score" min=0 value=2 required>
			<span class="help-block">Remember the <a href="{{pathFor 'rules'}}">rules</a>! This should be 2, but you are allowed to customize this as you see fit.</span>
		</div>
		<div class="form-group">
			<label for="solution">Solution</label>
			<input type="text" class="form-control" id="solution" placeholder="Solution" required>
			<span class="help-block">If the solution is in a specific format, please describe it in the description. The system uses string comparisons when checking submitted answers for correctness.</span>
		</div>
		<button type="submit" class="btn btn-default">Save</button>
	</form>
</template>