<template name="showProblem">

    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
            <div class="section">
                <h4>{{title}}</h4>

                {{#if solved}}
                    <span class="btn right"><i class="mdi-image-tag-faces"></i> {{scoreOrMax}}/{{maxScore}}</span>
                {{else}}
                    <span class="btn right white black-text">{{scoreOrMax}}/{{maxScore}}</span>
                {{/if}}


                {{#if isAdmin}}
                    <a href="{{pathFor 'editProblem'}}" class="btn-flat right" title="Edit"><i class="mdi-editor-mode-edit"></i></a>
                {{/if}}
                <div class="card-panel">
                    {{{htmlDescription}}}
                </div>

            </div>

            <div class="section">
                {{#if solvedOrNoLongerActive}}
                    <button id="revealAnswer" class="btn btn-primary btn-sm">Reveal solution</button>
                    <span id="answer">{{!-- will be injected here by jQuery --}}</span>
                {{else}}
                    <form class="answer-form">
                        <div class="input-field">
                            <label for="solution">Solution</label>
                            <input id="solution" type="text" required>
                        </div>
                        <button type="submit" class="btn waves-effect waves-light">Submit</button>
                    </form>
                {{/if}}

                {{#if solved}}
                <div id="success-message" class="card-panel" style="display: none;">
                    <strong>Well done!</strong> Your answer was correct. You received {{answers.[0].score}} points! <i class="mdi-image-tag-faces"></i>
                </div>
                {{else}}
                <div id="fail-message" class="card-panel" style="display: none;">
                    <strong>Oh snap!</strong> Your answer was wrong. Change a few things up and try submitting again.
                </div>
                {{/if}}
            </div>


            <div class="section">
                <div class="row stats-row">
                    <div class="stats-container">
                        <div class="stats">
                            <div class="stats-header">Solved by</div>
                            <div class="stats-content">{{stats.solved}}</div>
                        </div>
                        <div class="stats">
                            <div class="stats-header">Average</div>
                            <div class="stats-content">{{stats.average}}</div>
                        </div>
                        <div class="stats">
                            <div class="stats-header">Highest</div>
                            <div class="stats-content">{{stats.highest}}</div>
                        </div>
                        <div class="stats">
                            <div class="stats-header">Lowest</div>
                            <div class="stats-content">{{stats.lowest}}</div>
                        </div>
                    </div>
                </div>
            </div>

            {{#unless getSetting 'disableComments' false}}
                {{#if solvedOrNoLongerActive}}
                    <div class="section">
                        {{> UI.dynamic template=comment_list}}
                        {{#if currentUser}}
                            {{> UI.dynamic template=comment_form}}
                        {{/if}}
                    </div>
                {{/if}}
            {{/unless}}
        </div>
    </div>
</template>
