<template name="showProblem">
    <div class="col-md-3 col-sm-4">
        {{> sidebar}}
    </div>

    <section class="problem col-md-9 col-sm-8">
        <div class="panel {{panelClass}}">
            <div class="panel-heading">
                <strong class="panel-title">{{title}}</strong>

                <ul class="pull-right list-inline">
                    {{#if currentIsAdmin}}
                        <li>
                            <a href="{{pathFor 'editProblem'}}" class="btn btn-default pull-right btn-xs"><i class="fa fa-pencil-square-o"></i> Edit</a>
                        </li>
                    {{/if}}
                    <li>
                        <span class="pull-right label">{{score}}/{{maxScore}}</span>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                {{{description}}}
            </div>
            {{#if solvedOrNoLongerActive}}
            <div class="panel-footer">
                <button id="revealAnswer" class="btn btn-primary btn-sm">Reveal answer</button>
                <span id="answer">{{!-- will be injected here by jQuery --}}</span>
            </div>
            {{/if}}
        </div>

        {{#if solved}}
            <div id="success-message" class="alert alert-dismissable alert-success fade in" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Well done!</strong> Your answer was correct. You received {{answers.[0].score}} points!
            </div>
        {{else}}
            <div id="fail-message" class="alert alert-dismissable alert-danger fade in" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh snap!</strong> Your answer was wrong. Change a few things up and try submitting again.
            </div>
        {{/if}}


        {{#unless solvedOrNoLongerActive}}
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="answer">Answer</label>
                    <input type="text" class="form-control" id="answer" placeholder="Answer" required>
                </div>
                <button type="submit" class="btn btn-default">Check</button>
            </form>
        {{/unless}}

        <div class="row stats-row">
            <div class="stats-container">
                <div class="stats">
                    <div class="stats-header">Solved by</div>
                    <div class="stats-content">{{stats.solveCount}}</div>
                </div>
                <div class="stats">
                    <div class="stats-header">Average score</div>
                    <div class="stats-content">{{stats.averageScore}}</div>
                </div>
                <div class="stats">
                    <div class="stats-header">Highest score</div>
                    <div class="stats-content">{{stats.maxScore}}</div>
                </div>
                <div class="stats">
                    <div class="stats-header">Lowest score</div>
                    <div class="stats-content">{{stats.minScore}}</div>
                </div>
            </div>
        </div>
    </section>
</template>
