<template name="showProblem">
    <div class="col-md-4">
        {{> sidebar}}
    </div>

    <section class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="panel-title">{{title}}</strong>

                {{#if currentIsAdmin}}
                    <button id="edit-problem" class="btn btn-primary pull-right btn-xs"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button id="delete-problem" class="btn btn-danger pull-right btn-xs"><i class="fa fa-trash"></i> Delete</button>
                {{/if}}

                {{#if solved}}
                    <span class="pull-right label label-success">{{score}}/{{maxScore}}</span>
                {{else}}
                    <span class="pull-right label label-default">{{score}}/{{maxScore}}</span>
                {{/if}}
            </div>
            <div class="panel-body">
                {{{description}}}
                {{#if solved}}
                    <div id="success-message" class="alert alert-dismissable alert-success fade in" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Well done!</strong> Your answer was correct. You received {{answers.[0].score}} points!
                    </div>
                {{else}}
                    <div id="fail-message" class="alert alert-dismissable alert-danger fade in" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Oh snap!</strong> Your answer was wrong. Change a few things up and try submitting again.
                    </div>
                {{/if}}
            </div>
            <div class="panel-footer">
                {{#if solved}}
                    Answer: <a href="#" id="revealAnswer" rel="popover">Reveal</a>
                {{else}}
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="answer">Answer</label>
                            <input type="text" class="form-control" id="answer" placeholder="Answer" required>
                        </div>
                        <button type="submit" class="btn btn-default">Check</button>
                    </form>
                {{/if}}
            </div>
        </div>

        <div id="stats-wrap">
            <div class="stats">
                <div class="stats-header">Solved by</div>
                <div class="stats-content">{{solveCount}}</div>
            </div>
            <div class="stats">
                <div class="stats-header">Average score</div>
                <div class="stats-content">{{avgScore}}</div>
            </div>
            <div class="stats">
                <div class="stats-header">Highest score</div>
                <div class="stats-content">{{highestScore}}</div>
            </div>
            <div class="stats">
                <div class="stats-header">Lowest score</div>
                <div class="stats-content">{{lowestScore}}</div>
            </div>
        </div>
    </section>
</template>

<template name="newProblem">
    <form role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control editor" placeholder="Description" required></textarea>
        </div>
        <div class="form-group">
            <label for="max-score">Max score</label>
            <input type="number" class="form-control" id="max-score" placeholder="Max score" min=1 value=10 required>
            <span class="help-block">Remember the <a href="{{pathFor 'rules'}}">rules</a>! This should be 10, but you are allowed to change this as you see fit.</span>
        </div>
        <div class="form-group">
            <label for="min-score">Minimum score</label>
            <input type="number" class="form-control" id="min-score" placeholder="Min score" min=0 value=2 required>
            <span class="help-block">Remember the <a href="{{pathFor 'rules'}}">rules</a>! This should be 2, but you are allowed to customize this as you see fit.</span>
        </div>
        <div class="form-group">
            <label for="solution">Solution</label>
            <input type="text" class="form-control" id="solution" placeholder="Solution" required>
            <span class="help-block">If the solution is in a specific format, please describe it in the description. The system uses string comparisons when checking submitted answers for correctness.</span>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</template>

<template name="editProblem">
    <form role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" value="{{title}}" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control editor" placeholder="Description" required>{{description}}</textarea>
        </div>
        <div class="form-group">
            <label for="max-score">Max score</label>
            <input type="number" class="form-control" id="max-score" placeholder="Max score" min=1 value={{maxScore}} disabled={{problemAnswered}} required>
            <span class="help-block">Remember the <a href="{{pathFor 'rules'}}">rules</a>! This should be 10, but you are allowed to change this as you see fit.</span>
        </div>
        <div class="form-group">
            <label for="min-score">Minimum score</label>
            <input type="number" class="form-control" id="min-score" placeholder="Min score" min=0 value={{minScore}} disabled={{problemAnswered}} required>
            <span class="help-block">Remember the <a href="{{pathFor 'rules'}}">rules</a>! This should be 2, but you are allowed to customize this as you see fit.</span>
        </div>
        <div class="form-group">
            <label for="solution">Solution</label>
            <input type="text" class="form-control" id="solution" placeholder="Solution" value="{{solution}}" required>
            <span class="help-block">If the solution is in a specific format, please describe it in the description. The system uses string comparisons when checking submitted answers for correctness.</span>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</template>
