<template name="sidebar">
    <div class="col-md-12 col-lg-offset-3 col-lg-8">
        <div class="page-header">
            <h4 class="text-center">Løs lukene og bli med i trekningen av flotte premier! En ny luke åpnes hver dag frem til jul. </h4>
        </div>
        <div class="luker">
            {{#each problems}}
                    {{#if active}}
                        <a href="{{pathFor 'showProblem'}}" title="Luke {{title}}" alt="Luke {{title}}" class="luke">
                            {{#if currentUser}}
                                {{#if answers.[0].solved}}
                                    <i class="solved"></i>
                                {{/if}}
                            {{/if}}
                        </a>
                    {{else}}
                        <div class="luke disabled"></div>
                    {{/if}}
            {{/each}}
        </div>

    </div>
</template>
