<template name="sidebar">
    <div class="col-md-12 col-lg-offset-1 col-lg-10">
        <ul class="luker-list">
            {{#each problems}}
                <li>
                    {{#if active}}
                        <a href="{{pathFor 'showProblem'}}">
                            {{#if currentUser}}
                                {{#if answers.[0].solved}}
                                    <i class="fa fa-check-circle pull-right"></i>
                                {{/if}}
                            {{/if}}
                            Luke {{title}}
                        </a>
                    {{else}}
                        Luke {{title}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
</template>
