<template name="sidebar">
    <div class="problems-toolbar">
        {{#if isAdmin}}
                <a class="btn btn-default" href="{{pathFor 'newProblem'}}"><i class="icon-plus"></i> New problem</a>
        {{/if}}
        <a href="#" id="randomProblem" title="Go to random problem" class="btn btn-default"><i class="icon-random"></i> Random problem</a>
    </div>
    <ul class="nav nav-pills nav-stacked">
        {{#each problems}}
            <li class="{{selected}}">
                <a href="{{pathFor 'showProblem'}}">
                    {{#if currentUser}}
                        {{#if answers.[0].solved}}
                            <span class="glyphicon glyphicon-ok-sign pull-right"></span>
                        {{/if}}
                    {{/if}}
                    {{title}}
                </a>
            </li>
        {{/each}}
    </ul>
</template>
