<template name="activitystream">
    {{#if Template.subscriptionsReady}}
        <ul class="collection">
            {{#each activities}}
                <li class="collection-item avatar">
                    <span class="title">{{actor.name}}</span>
                    {{> UI.dynamic template=type}}

                    {{#if isAdmin}}
                        <a href="#!" class="secondary-content delete-activity-item" title="Delete"><i class="mdi-navigation-close"></i></a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <div class="center">
            {{> spinner}}
        </div>
    {{/if}}
</template>

<template name="UserRegistrationEvent">
    <i class="mdi-social-person-add circle"></i>
    <p>has just registered. <br>
       Welcome!
    </p>
</template>

<template name="ProblemSolvedEvent">
    {{#with payload}}
        <i class="circle teal">{{points}}</i>
        <p>solved <a href="/problems/{{problem.id}}" title="{{problem.name}}">{{problem.name}}</a> for {{points}}.<br>
           Now has {{total}} points!
        </p>
    {{/with}}
</template>

<template name="NewCommentEvent">
    {{#with payload}}
        <i class="circle mdi-communication-comment"></i>
        <p> has commented on <a href="/problems/{{problem.id}}" title="{{problem.name}}">{{problem.name}}</a>.</p>
    {{/with}}
</template>
