<template name="activitystream">
    <div class="list-group">
        {{#each activities}}
        <div class="list-group-item">
            <div class="row-content">
                <div class="least-content">{{formatDate created_at}}</div>
                <h4 class="list-group-item-heading">{{title}}</h4>
                <p class="list-group-item-text">{{{content}}}</p>
            </div>
            {{#if currentIsAdmin}}
                <button type="button" class="delete-activity-item close"><i class="fa fa-close"></i></button>
            {{/if}}
        </div>
        {{/each}}
    </div>
</template>
