<template name="footer">
    <footer>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-10">
                    <ul>
                        <li><a href="http://www.knowit.no" class="knowit" title="Knowit">Knowit</a></li>
                        <li><a href="http://www.twitter.com/knowitnorge" class="twitter" title="Twitter">Twitter</a></li>
                        <li><a href="http://www.facebook.com/knowitnorge" class="facebook" title="Facebook">Facebook</a></li>
                        <li><a href="http://www.linkedin.com/company/knowit" class="linkedin" title="LinkedIn">Linkedin</a></li>
                        <li><a href="http://github.com/alexanbj/programming-ladder" class="github" title="GitHub">GitHub</a></li>
                    </ul>
                    <p>Håndbygget med ♥</p>
                    <p>Kjører på gløgg og <a href="https://www.meteor.com/">Meteor</a>.</p>
                    <p>Design og utvikling av <a href="http://beta.knowitlabs.no/">Knowit Labs</a>.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </footer>
</template>
