<template name="footer">
	<footer class="footer">
		<div class="container" align="center">
            <p>Designed and built by a <a href="http://beta.knowitlabs.no/" target="_blank">KnowitLabs</a> team.</p>
            <div class="social-buttons">
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=alexanbj&amp;repo=programming-ladder&amp;type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" style="width:100px; height:20px"></iframe>

                <iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=knowitlabs"
                allowtransparency="true" frameborder="0" scrolling="no" style="width:130px; height:20px;"></iframe>
            </div>
        </div>
    </footer>
</template>
