<template name="nav">
  <header class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse"
                data-target=".prog-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="/knowit_symbol_white_rgb.png"> Julekalender</a>
      </div>

      <nav class="collapse navbar-collapse prog-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class="{{activeIfTemplateIs 'leaderboard'}}"><a href="{{pathFor 'leaderboard'}}">Tabell</a>
          </li>
            <li class="{{activeIfTemplateIs 'problems'}}"><a href="{{pathFor 'problems'}}">Luker</a></li>
          {{#with currentUser}}
            <li class="{{activeIfTemplateIs 'profile'}}"><a href="{{pathFor 'profile'}}">Profil</a></li>
          {{/with}}
          <li class="{{activeIfTemplateIs 'about'}}"><a href="{{pathFor 'about'}}">Om</a></li>
          {{#if currentIsAdmin}}
            <li class="dropdown {{activeIfTemplateIs 'adminProblems'}} {{activeIfTemplateIs 'adminUsers'}} {{activeIfTemplateIs 'settings'}}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="{{activeIfTemplateIs 'adminProblems'}}"><a href="{{pathFor 'adminProblems'}}"><i
                      class="fa fa-tasks hidden-xs"></i> Problems</a></li>
              <li class="{{activeIfTemplateIs 'adminUsers'}}"><a href="{{pathFor 'adminUsers'}}"><i
                      class="fa fa-users hidden-xs"></i> Users</a></li>
              <li class="{{activeIfTemplateIs 'settings'}}"><a href="{{pathFor 'settings'}}"><i
                      class="fa fa-cog hidden-xs"></i> Settings</a></li>
            </ul>
          </li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> atNavButton}}
          {{#with currentUser}}
          <p class="navbar-text score">Luker: {{solved}}/24</p>
          {{/with}}
        </ul>
      </nav>
    </div>
  </header>
</template>
