<template name="leaderboard">
  <table class="leaderboard table table-striped table-hover">
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Score</th>
      {{#if currentIsAdmin}}
        <th>Actions</th>
      {{/if}}
    </tr>
    {{#each users}}
      <tr>
        <td class="rank"><!--Empty on purpose. Handled through CSS --></td>
        <td>{{username}}</td>
        <td>{{score}}</td>
        {{#if currentIsAdmin}}
          <td>
              {{#if isAdmin}}
                <button class="admin-toggle btn btn-success btn-xs"><i class="icon-user"></i> Admin</button>
              {{else}}
                <button class="admin-toggle btn btn-default btn-xs"><i class="icon-user"></i> Admin</button>
              {{/if}}
              <button class="delete-user btn btn-danger btn-xs"><i class="icon-trash"></i> Delete</button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </table>
</template>