<template name="leaderboard">
    <div class="col-md-12 col-lg-offset-1 col-lg-10">
        <div class="panel panel-default">
            <table class="leaderboard table table-striped table-hover table-condensed">
                <tbody>
                    <tr>
                        <th></th>
                        <th>Bruker</th>
                        <th>Luker</th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td class="rank">{{rank}}</td>
                            <td>{{username}}</td>
                            <td>{{solved}}/24</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
